/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
.env.save
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
*.json
!composer.json
!package.json
client_secret_*.json
makcit-*.json
makcit-1730374519771-4a63b0fcb7c9.json
client_secret_745414779804-3qkq63b3d36v4md64ajq7dkds6c251jo.apps.googleusercontent.com.json
*.log
*.sql
.editconfig

